@import url('https://fonts.googleapis.com/css?family=Merienda:400,700|Open+Sans:400,400i,600&display=swap');

h1 {
    font-family: 'Merienda', cursive !important;
    color: #e98349;
}

h4 {
    font-family: 'Open Sans', sans-serif !important;
    font-style: italic !important;
    font-size: 1.4rem !important;
    color: #5b7b50;
}

p {
    font-family: 'Open Sans', sans-serif !important;
}

P::first-letter {
    margin-left: 30px !important;
}

h2 {
    font-family: 'Open Sans', sans-serif !important;
    color: #a57982!important;
    font-weight: 600 !important;
    font-style: italic !important;
    font-size: 1.8rem;
}

.navbar-brand {
    font-family: 'Merienda', cursive !important;
    color: #e98349 !important;
    font-size: 1.6rem;
    font-weight: 600;
}

.display-4 {
    font-weight: 700 !important;
    color: white !important;
}

hr {
    border-top: 1px solid #cc998d !important;
}

.jumbotron {
    background-size: cover !important;
}

.carroticon {
    margin-right: 10px;
    margin-left: 10px;
}

.bg-light {
    background-color: #d9dd90  !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #5b7b50 !important;
}

.nav-link {
    color: #502419 !important;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #302f4d !important;
}

.btn-primary {
    color: #fff;
    background-color: #302f4d !important;
    border-color: #2c2b47 !important;
}