@import url('https://fonts.googleapis.com/css?family=Raleway:400,500i|Satisfy&display=swap');

h1 {

    font-family: 'Satisfy', cursive !important;
    color: #302f4d;
}

p {
    font-family: 'Raleway', sans-serif  !important;
}

P::first-letter {
    margin-left: 30px !important;
}

h2 {
    font-family: 'Raleway', sans-serif !important;
    color: #302f4d !important;
    font-weight: 500 !important;
    font-style: italic !important;
    font-size: 1.8rem;
}

.navbar-brand {

    font-family: 'Satisfy', cursive !important;
    color: #302f4d !important;
    font-size: 1.6rem;
    font-weight: 600;
}

.display-4 {
    color: #beb9d6 !important;
}

hr {
    border-top: 1px solid #cc998d !important;
}

.jumbotron {
    background-size: cover !important;
}

.bg-light {
    background-color: #beb9d6 !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #9960ce !important;
}

.nav-link {
    color: #564a5a !important;
}

body {
    font-family: 'Raleway', sans-serif !important;
    color: #302f4d !important;
}

.btn-primary {
    color: #fff;
    background-color: #beb9d6 !important;
    border-color: #a09abb !important;
}

.navbar {
    background-color: #beb9d6 !important;
}