@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;900&display=swap');


body {
    background-color: #dce2aa41 !important;
}
h1 {
    font-family: 'Shrikhand', cursive !important;
    color: #9ec685 !important;

}

h2 {
    font-family: 'Frank Ruhl Libre', serif !important;
    font-weight: 500;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif !important;
    font-weight: 500;
}

h4 {
    font-family: 'Frank Ruhl Libre', serif !important;
    font-weight: 500;
    font-size: 1.2rem;
    color: #4e6e58;
}

h5 {
    font-family: 'Frank Ruhl Libre', serif !important;
    font-size: .9rem;
}

li {
    font-family: 'Frank Ruhl Libre', serif !important;
}

.modal-title {
    font-size: 2rem;
    color: #9ec685;
}

.display-4 {
    font-size: 2.5rem;
    color: white !important;
    text-shadow: 1px 1px 1px black !important;
}

.featurette-heading {
    font-weight: 500;
}

.featurette-divider {
    margin-bottom: 2rem !important;
}

.carousel-item img {
    width: 100% !important;
}

.carousel-caption h1 {
    text-shadow: 1px 1px 2px black !important;
    color: white !important;
}

.bg-light {
    background-color: #B4D2BA7A !important;
}
.border-bottom {
    border-bottom: 5px solid #4B543B !important;
}

.color1 {
    border-bottom: 10px solid #B57F50 !important;
}

.color2 {
    border-bottom: 15px solid #DCE2AA !important;
}

.nav-link {
    font-family: 'Frank Ruhl Libre', serif !important;
    font-weight: 500;
    color: #4e6e58 !important;
    padding-right: 1.5rem !important;
}

.active {
    color: #779fa8 !important;

}

.nav-link:hover {
    color: #9dc3c2 !important;
}

.navbar-brand {
    font-family: 'Shrikhand', cursive !important;
    color: #9ec685 !important;
    font-size: 2rem !important;
}

p {
    font-family: 'Frank Ruhl Libre', serif !important;
    line-height: 24px;
}

.alertp {
    line-height: 20px;
    margin: 0px;
    text-align: center;
}

.blog p::first-letter {
    margin-left: 25px;
    margin-right: 3px;
    font-weight: 800;
    color: #4B543B !important;
    font-size: 1.7rem !important;
}

.mark {
    background-color: #fff0 !important;
}
.mark::first-letter {
    margin-left: 15px;
}
.marketing {
    text-align: center;
}


.card-title 
{
    margin-top: .6rem !important;
}

.shophr {
    border-top: 1px solid #B57F50 !important;
}
hr {
    border-top: 3px solid #4B543B !important;
    margin-bottom: 0px !important;
}

.hr1 {
    border-bottom: 3px solid #B57F50 !important;
}

.hr2 {
    border-bottom: 3px solid #DCE2AA !important;
}

label {
    font-family: 'Frank Ruhl Libre', serif !important;
    color: #779fa8 !important;
    font-weight: 500;
}

input {
    font-family: 'Frank Ruhl Libre', serif !important;
}

.form-dark .font-small {
    font-size: 0.8rem;
}

.form-dark .md-form label {
    color: #fff !important;
}


.form-dark input[type=email]:focus:not([readonly])+label {
    color: #fff !important;
}


.form-dark input[type=password]:focus:not([readonly])+label {
    color: #fff !important;
}

.form-dark .modal-header {
    border-bottom: none !important;

}

.btn-success {
    background-color: #DCE2AA !important;
    border-color: rgb(191, 196, 145) !important;
    color: #4B543B;
}

button {
    font-family: 'Frank Ruhl Libre', serif !important;
}

.font-weight-bold {
    color: #9ec685;
    font-family: 'Frank Ruhl Libre', serif !important;
}

.modal-body h4 {
    color: white;
}

.footer {
    background-color: #B4D2BA7A ;
}

.footer h1 {
    color: white !important;
    text-align: center !important;
    margin: 0px;
}

.fhr1{
    height: 15px;
    background-color: #4B543B;
    border-bottom: 10px solid #B57F50;
}

.fhr2{
    border-bottom: 15px solid #DCE2AA;
}

footer {
    background-color: #B4D2BA7A !important;
}

.footer ul {
    list-style: none !important;
    color: #4e6e58 !important;
    font-size: 1.2rem !important;
    font-family: 'Frank Ruhl Libre', serif !important;
    text-align: center;
    padding-left: 0px !important;
}

.footer hr {
    border-top: 2px solid #4e6e58 !important;
}

.footer-divider {
    border-bottom: 2px solid #4e6e58;
}

.text-muted {
    color: #4e6e58 !important;
}

.card-trans {
    border: none !important;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.card-trans h4 {
    color: white !important;
}

.card-trans img{
    width: 100px !important;
}