@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

#myCanvas {
    border: 3px dashed coral;
    background-color: rgb(247, 221, 212);
}

body {
    background-color: rgb(253, 188, 165);
}

.btn {
    font-family: 'Lily Script One', cursive !important;
}

.btn-primary {
    color: #fff;
    background-color: rgb(209, 125, 125);
    border-color: rgb(150, 82, 82);
}

.btn-primary:hover {
    background-color: rgb(182, 100, 100);
    border-color: rgb(126, 64, 64);
}


.btn-primary:active {
    background-color: rgb(141, 62, 62) !important;
    border-color: rgb(126, 64, 64) !important;
}

.btn-primary:focus {
    background-color: rgb(141, 62, 62) !important;
    border-color: rgb(126, 64, 64) !important;   
    box-shadow: 0 0 0 .2rem rgba(211, 104, 104, 0.5) !important;
}



h1 {
    color: #fff;
    font-family: 'Lily Script One', cursive;
}

h2 {
    color: #fff;
    font-family: 'Lily Script One', cursive;
}

img {
    max-width: 100% !important;
}